<%- include('../header',{
    title:'404',
    description:'Cash Measure 404 page',
    keyword:'Cash Measure 404',
    url:'/404',
    other:{}
}); %>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<section>
    <div class="container m-auto px-5 2xl:px-[128px] mb-8">
        <div class="py-8 px-5 sm:px-10 prose m-auto lg:max-w-[90%]">
            <lottie-player src="https://lottie.host/686d7ea1-6c31-43a1-82dc-34a16328adce/3uiGBwk1pj.json" background="#f8f8f8" speed="1" style="height: 70vh;margin:auto;" loop autoplay direction="1" mode="normal"></lottie-player>
        </div>
    </div>
</section>


<%- include('../footer'); %>