<%- include('../header',{
    title:'About US',
    description:'About US',
    keyword:'Cash Measure About US',
    url:'/about-us',
    other:{}
}); %>

<section>
    <div class="py-5 md:py-8 container m-auto px-5 2xl:px-[128px] mt-8">
        <div class="backdrop-blur shadow-lg bg-[#fff] py-8 sm:py-14 px-5 sm:px-10 rounded-3xl">
            <h1 class="mb-2 text-2xl sm:text-4xl font-semibold text-center">About us</h1>
        </div>
    </div>
</section>

<section>
    <div class="container m-auto px-5 2xl:px-[128px] mb-8">
        <div class="py-8 px-5 sm:px-10 prose m-auto lg:max-w-[90%]">
            <h2>Welcome to cashmeasure.com!</h2>
            <p>At <a href="/">cashmeasure.com</a>, we want to help you with your money by giving you useful information and tools. Our goal is to make things easier for you so that you can make good choices about your finances and reach your money goals. We know handling money and investments can be confusing but we're here to make it simple and give you the tools and knowledge you need to plan for a secure financial future.</p>
            <p>We are a group of people who love finances and want to help folks like you understand money better. Our SIP Calculator is just one of the tools we have to support you on your financial journey.</p>
            <div>
                <h3>What We Have for You:</h3>    
                <div>
                    <h4>SIP Calculator - Make Smart Investment Plans:</h4>
                    <p>Our SIP Calculator is a great tool that shows you how much money you might get from your SIP investments. Whether you're new to SIP or already know about it, our calculator helps you see how much you can save for the future. Just enter your investment amount, how long you'll save, and the return rate you expect. It takes away the confusion in financial planning so you can make wise investment choices.</p>
                </div>
                <div>
                    <h4>Mutual Fund Return Calculator - Get More from Your Investments:</h4>
                    <p>It's important to know how much you can earn from your mutual funds. Our Mutual Fund Return Calculator helps you figure out how much money you might make based on how long you'll invest and the fund's past performance. This useful tool helps you make your mutual fund portfolio better and get the most out of your investments.</p>
                </div>
                <div>
                    <h4>CGPA Percentage Calculator - Easy Academic Grading:</h4>
                    <p>We have a special CGPA Percentage Calculator for students who want to know their academic performance as a percentage. Our calculator is simple to use and helps you convert your CGPA into a percentage. It gives you accurate results without any trouble.</p>
                </div>
                <div>
                    <h4>Our Promise to You:</h4>
                    <p>At <a href="/">cashmeasure.com</a>, we promise to give you financial tools that are correct, dependable, and easy to use. Our calculators are made with great care and are regularly updated with the latest market information, so you can trust the results they provide.</p>
                </div>
                <div>
                    <h4>Helpful Solutions for Everyone:</h4>
                    <p>We know that each person's money situation is different, and that's why our content is made just for you. Our blog has lots of useful information, like money-saving tips and ways to build wealth. It covers many topics to support you on your path to financial success.</p>
                </div>
                <div>
                    <h4>Start Today:</h4>
                    <p>Visit <a href="/">cashmeasure.com</a> now and use our SIP Calculator, Mutual Fund Return Calculator, and CGPA Percentage Calculator to begin planning your finances. We want to help you by giving you the right information and tools, so you can make smart choices for your future.</p>
                </div>
            </div>
            <p>Thank you for choosing <a href="/">cashmeasure.com</a> for your financial planning and wealth-building needs. If you have any questions or need help, you can email us at <a href="mailto:cashmeasure220@gmail.com">cashmeasure220@gmail.com</a>. Let's start this financial journey together!</p>
        </div>
    </div>
</section>

<%- include('../footer'); %>