<%- include('../header',{
    title:'Contact US',
    description:'Contact US',
    keyword:'Cash Measure Contact US',
    url:'/contact-us',
    other:{}
}); %>

<section>
    <div class="py-5 md:py-8 container m-auto px-5 2xl:px-[128px] mt-8">
        <div class="backdrop-blur shadow-lg bg-[#fff] py-8 sm:py-14 px-5 sm:px-10 rounded-3xl">
            <h1 class="mb-2 text-2xl sm:text-4xl font-semibold text-center">Contact US</h1>
        </div>
    </div>
</section>

<section>
    <div class="container m-auto px-5 2xl:px-[128px] mb-8">
        <div class="py-8 px-5 sm:px-10 prose m-auto lg:max-w-[90%]">
            <h2>Welcome to cashmeasure.com!</h2>
            <p>If you have any questions, suggestions, or need help, you can email us at <a href="mailto:cashmeasure220@gmail.com">cashmeasure220@gmail.com</a>. We're here to assist you!</p>
            <p>Your feedback is important to us, and we are excited to hear from you. Our team will get back to you as soon as they can. Thank you for reaching out!</p>
            <P>Thanks for coming to <a href="/">cashmeasure.com!</a> We appreciate it!</P>
        </div>
    </div>
</section>

<%- include('../footer'); %>