<%- include('../header',{
    title:'Disclaimer',
    description:'Disclaimer',
    keyword:'Cash Measure Disclaimer',
    url:'/disclaimer',
    other:{}
}); %>

<section>
    <div class="py-5 md:py-8 container m-auto px-5 2xl:px-[128px] mt-8">
        <div class="backdrop-blur shadow-lg bg-[#fff] py-8 sm:py-14 px-5 sm:px-10 rounded-3xl">
            <h1 class="mb-2 text-2xl sm:text-4xl font-semibold text-center">Disclaimer</h1>
        </div>
    </div>
</section>

<section>
    <div class="container m-auto px-5 2xl:px-[128px] mb-8">
        <div class="py-8 px-5 sm:px-10 prose m-auto lg:max-w-[90%]">
            <h2>Disclaimer for cashmeasure.com:</h2>
            <p>The tools on <a href="/">cashmeasure.com</a> give you general ideas and predictions based on the information you enter. But remember, they can't guarantee what will happen in the future. Real results may be different because of things like market changes and your own situation.</p>
            <p>The information you find on <a href="/">cashmeasure.com</a> is for learning purposes only. We do not give any financial advice or suggest specific investments. The content on this website is not professional financial advice, so please don't use it that way.</p>
            <p>You are in charge of your financial choices. Before you invest, it's best to talk to a qualified financial advisor or professional.</p>
            <p>Sometimes, <a href="/">cashmeasure.com</a> has links to other websites for more information. But remember, we don't support or manage the content on those sites. Whatever you do with the information you find there is not our responsibility.</p>
            <p>We try our best to give you accurate and up-to-date information on <a href="/">cashmeasure.com</a>. However, we can't promise it will always be complete or immediate. The content might change without warning.</p>
            <p>When you use <a href="/">cashmeasure.com</a>, you accept this disclaimer and understand that the content is not professional financial advice. We are not responsible for any losses or damages if you rely on the information from this website.</p>
            <p>If you have special money concerns or need help with investments, it's best to talk to qualified financial advisors or experts who know about that stuff. They can guide you better!</p>
            <p>Latest Update: 06/08/2023</p>
            <p>If you have any questions or worries about this disclaimer, you can reach us at <a href="mailto:cashmeasure220@gmail.com">cashmeasure220@gmail.com</a>.</p>
        </div>
    </div>
</section>

<%- include('../footer'); %>