<%- include('../header',{
    title:'Privacy Policy',
    description:'Privacy Policy',
    keyword:'Cash Measure Privacy Policy',
    url:'/privacy-policy',
    other:{}
}); %>

<section>
    <div class="py-5 md:py-8 container m-auto px-5 2xl:px-[128px] mt-8">
        <div class="backdrop-blur shadow-lg bg-[#fff] py-8 sm:py-14 px-5 sm:px-10 rounded-3xl">
            <h1 class="mb-0 text-2xl sm:text-4xl font-semibold text-center">Privacy Policy</h1>
        </div>
    </div>
</section>

<section>
    <div class="container m-auto px-5 2xl:px-[128px] mb-8">
        <div class="py-8 px-5 sm:px-10 prose m-auto lg:max-w-[90%]">
            <h2>Privacy Policy for cashmeasure.com:</h2>
            <p>At <a href="/">cashmeasure.com</a>, we really care about the privacy of our visitors. This Privacy Policy explains the kinds of personal information we receive and collect on <a href="/">cashmeasure.com</a>, and how we use it.</p>
            <div>
                <h3>Log Files</h3>
                <p>Just like many other websites, <a href="/">cashmeasure.com</a> uses log files. These files contain information like IP addresses, browser type, internet service provider (ISP), date and time of visits, referring and exit pages, and the number of clicks. We look at this information to understand trends, manage the website, see how users move around the site, and gather general demographic data. Don't worry, the IP addresses and other details in the log files are not connected to any personally identifiable information.</p>
            </div>
            <div>
                <h3>Cookies and Web Beacons</h3>
                <p>At <a href="/">cashmeasure.com</a>, we might use cookies to remember your preferences and keep track of which pages you visit. This helps us customize the website content to match your browser type or other information you send through your browser. Cookies are like small pieces of information that help us give you a better experience on our website.</p>
            </div>
            <div>
                <h3>DoubleClick DART Cookie</h3>
                <p>Google is a company that shows ads on <a href="/">cashmeasure.com</a> as a third-party vendor. They use cookies, like the DART cookie, to display ads that are relevant to users based on their visits to <a href="/">cashmeasure.com</a> and other websites on the Internet. If you don't want Google to use the DART cookie for showing you ads, you can opt-out by going to this web address: <a href="https://policies.google.com/technologies/ads" target="_blank">https://policies.google.com/technologies/ads</a>. This will take you to Google's ad and content network privacy policy where you can find more information and make your choice.</p>
            </div>
            <div>
                <h3>Third-Party Advertisers</h3>
                <p>Sometimes, when you visit <a href="/">cashmeasure.com</a>, we might use other companies to show ads. These companies may gather information about your visits to this and other websites, but they won't collect your name, address, email, or phone number. They use this info to show you ads about products and services that might interest you.</p>
                <p>If you want to learn more about this and decide not to let these companies use your information for ads, you can visit the Network Advertising Initiative (NAI) website at <a href="http://www.networkadvertising.org/managing/opt_out.asp" target="_blank">http://www.networkadvertising.org/managing/opt_out.asp</a>. There, you can find out more details and make your choice.</p>
            </div>
            <div>
                <h3>Links to External Sites</h3>
                <p>On <a href="/">cashmeasure.com</a>, you might find links to other websites that we don't run. It's essential to know that we can't control what's on those sites or how they handle things, including privacy matters. So, we can't take responsibility or be liable for their privacy policies. Be careful when you visit external sites and make sure you understand their policies.</p>
            </div>
            <div>
                <h3>Your Consent</h3>
                <p>When you use <a href="/">cashmeasure.com</a>, you agree to our Privacy Policy and its rules. It means you give us permission to follow the guidelines outlined in the policy.</p>
            </div>
            <div>
                <h3>Changes to the Privacy Policy</h3>
                <p>If we make any changes or updates to this Privacy Policy, we will share them on this page. To stay informed about any updates, it's a good idea to check this page from time to time. This way, you'll always know the latest information about our Privacy Policy.</p>
            </div>
            <p>Latest Update: 06/08/2023</p>
            <p>If you have any questions or worries about this disclaimer, you can reach us at <a href="mailto:cashmeasure220@gmail.com">cashmeasure220@gmail.com</a>.</p>
        </div>
    </div>
</section>

<%- include('../footer'); %>